<main class="main">
  <header class="brand-name">
    <button class="logout" (click)="logout()" *ngIf="isAuthenticated()">
      Logout
    </button>
    <button class="history-button" (click)="navigateToHistory()" title="Ver Histórico">
      <span>Histórico de Sessões</span>
    </button>
    <button class="logout" (click)="session()" *ngIf="isAuthenticated()">
      Marcar Sessão
    </button>
    <button class="history-button" (click)="navigateToMaterials()" title="Biblioteca de Materiais">
      <span>Biblioteca de Materiais</span>
    </button>
  </header>
  <section class="content">
    <p class="welcome-message">Bem vindo!</p>
    <app-mentored-search *ngIf="hasMentoredRole(); else mentorSearch"></app-mentored-search>
    <ng-template #mentorSearch>
      <app-mentor-search *ngIf="hasMentorRole()"></app-mentor-search>
    </ng-template>
    <div class="search-section-mentor">
      <div class="search-container">
        <p class="description">
          {{ hasMentorRole() ? '' : 'Preencha os campos para achar um mentor.' }}

        <div class="search-results">
          <div *ngFor="let result of results" class="search-item">
            <span class="search-item-name">{{ result.name }} </span><br />
            <span class="search-item-course">{{ result.course }}</span
            ><br />
            <span class="search-item-interests">{{
              result.interests.join(", ")
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<a routerLink="/profile" class="profile-link" title="Ver Perfil">
  <svg
    class="profile-icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path
      d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
    />
  </svg>
</a>
