<div class="mentored-register-container">
  <h2>Finalize seu cadastro</h2>

  <div class="mentored-form-container">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Resumo academico -->
      <div class="form-group">
        <label for="academicSummary">Resumo academico</label>
        <textarea
          id="academicSummary"
          formControlName="academicSummary"
          placeholder="Resumo academico"
          rows="3"
          class="auto-grow"
        ></textarea>
          <div *ngIf="signupForm.get('academicSummary')?.invalid && signupForm.get('academicSummary')?.touched" class="error">
            <div *ngIf="signupForm.get('academicSummary')?.errors?.['maxlength']">O resumo acadêmico deve ter no máximo 500 caracteres.</div>
          </div>
      </div>

      <!-- Curso -->
      <div class="form-group">
        <label for="course">Curso</label>
        <select id="course" formControlName="course">
          <option value="" disabled selected>Selecione seu curso</option>
          <option value="ADMINISTRACAO">Bacharelado em Administração</option>
          <option value="ARQUITETURA_E_URBANISMO">Bacharelado em Arquitetura e Urbanismo</option>
          <option value="CONTABILIDADE">Bacharelado em Ciências Contábeis</option>
          <option value="CIENCIA_DA_COMPUTACAO">Bacharelado em Ciência da Computação</option>
          <option value="DIREITO">Bacharelado em Direito</option>
          <option value="EDUCACAO_FISICA">Licenciatura em Educação Física</option>
          <option value="ENFERMAGEM">Bacharelado em Enfermagem</option>
          <option value="ENGENHARIA_CIVIL">Bacharelado em Engenharia Civil</option>
          <option value="FISIOTERAPIA">Bacharelado em Fisioterapia</option>
          <option value="LETRAS">Bacharelado em Letras</option>
          <option value="MEDICINA">Bacharelado em Medicina</option>
          <option value="VETERINARIA">Bacharelado em Medicina Veterinária</option>
          <option value="NUTRICIONISMO">Bacharelado em Nutrição</option>
          <option value="ODONTOLOGIA">Bacharelado em Odontologia</option>
          <option value="PEDAGOGIA">Licenciatura em Pedagogia</option>
          <option value="PSICOLOGIA">Bacharelado em Psicologia</option>
          <option value="ZOOTECNIA">Bacharelado em Zootecnia</option>
        </select>
          <div *ngIf="signupForm.get('course')?.invalid && signupForm.get('course')?.touched" class="error">
            O curso é obrigatório.
          </div>
      </div>

      <!-- Lista de areas de interesse -->
      <div class="form-group">
        <label for="interestList">Lista de areas de interesse</label>
        <select id="interestList" formControlName="interestArea">
          <option value="" disabled selected>Selecione sua Lista de areas de interesse</option>
          <option value="ADMINISTRACAO_E_GESTAO">Administração e Gestão</option>
          <option value="CIENCIAS_BIOLOGICAS_E_SAUDE">Ciências Biológicas e Saúde</option>
          <option value="CIENCIAS_EXATAS">Ciências Exatas</option>
          <option value="CIENCIAS_HUMANAS">Ciências Humanas</option>
          <option value="EDUCACAO">Educação</option>
          <option value="ENGENHARIA">Engenharia</option>
          <option value="FINANCAS">Finanças</option>
          <option value="JURIDICO">Jurídico</option>
          <option value="MARKETING_E_COMUNICACAO">Marketing e Comunicação</option>
          <option value="TECNOLOGIA_DA_INFORMACAO">Tecnologia da Informação</option>
        </select>
        <div *ngIf="signupForm.get('interestList')?.invalid && signupForm.get('interestList')?.touched" class="error">
            A área de interesse é obrigatória.
          </div>
      </div>

      <button type="submit" class="btn-finalizar">Finalizar Cadastro</button>
    </form>
  </div>
</div>
