<div class="main-container">
  <div class="left-side">
    <div class="welcome-container">
      <h1>Bem vindo de volta!</h1>
      <img src="assets/welcome-logo.svg" alt="Logo" class="logo" />
    </div>
  </div>
  <div class="right-side">
    <form class="login-form">
      <h2>Login</h2>
      <div class="form-group">
        <div>
          <label class="form-label">Email</label>
          <input type="email" class="form-input" placeholder="Email" />
        </div>
        <div>
          <label class="form-label">Senha</label>
          <input type="password" class="form-input" placeholder="Senha" />
        </div>
      </div>
      <div class="remember-me-container">
        <div class="remember-me-group">
          <input type="checkbox" id="rememberMe" class="remember-me-checkbox" />
          <label for="rememberMe" class="remember-me-label"> Lembrar-me </label>
        </div>
        <a class="forgot-password-link"> Esqueci minha senha </a>
      </div>
      <button class="login-button">Entrar</button>
      <hr class="divider" />
      <a class="register-link" routerLink="/register"
        >Ainda não possui conta? Registre-se</a
      >
    </form>
  </div>
</div>
