<div class="mentor-register-container">
  <h2>Finalize seu cadastro</h2>
  
  <div class="mentor-form-container">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Resumo profissional -->
      <div class="form-group">
        <label for="professionalSummary">Resumo profissional</label>
        <input id="professionalSummary" type="text" placeholder="Resumo profissional" />
      </div>

      <!-- Curso -->
      <div class="form-group">
        <label for="course">Curso</label>
        <select id="course" formControlName="course">
          <option value="" disabled selected>Selecione seu curso</option>
          <option value="Administração">Bacharelado em Administração</option>
          <option value="Arquitetura e Urbanismo">Bacharelado em Arquitetura e Urbanismo</option>
          <option value="Ciências Contábeis">Bacharelado em Ciências Contábeis</option>
          <option value="Ciência da Computação">Bacharelado em Ciência da Computação</option>
          <option value="Educação Física">Licenciatura em Educação Física</option>
          <option value="Enfermagem">Bacharelado em Enfermagem</option>
          <option value="Engenharia Civil">Bacharelado em Engenharia Civil</option>
          <option value="Fisioterapia">Bacharelado em Fisioterapia</option>
          <option value="Letras">Bacharelado em Letras</option>
          <option value="Medicina">Bacharelado em Medicina</option>
          <option value="Medicina Veterinária">Bacharelado em Medicina Veterinária</option>
          <option value="Nutrição">Bacharelado em Nutrição</option>
          <option value="Odontologia">Bacharelado em Odontologia</option>
          <option value="Pedagogia">Licenciatura em Pedagogia</option>
          <option value="Psicologia">Bacharelado em Psicologia</option>
          <option value="Zootecnia">Bacharelado em Zootecnia</option>
        </select>
      </div>

      <!-- Especializações -->
      <div class ="form-group">
        <label for="specializations">Especializações</label>
        <input
          id="specializations"
          type="text"
          formControlName="specializations"
          placeholder="Especializações" 
        />
      </div>

      <!-- Áreas de Interesse -->
      <div class="form-group">
        <label for="interestList">Lista de areas de interesse</label>
        <select id="interestList" formControlName="interestList">
          <option value="" disabled selected>Selecione sua Lista de areas de interesse</option>
          <option value="Administração e Gestão">Administração e Gestão</option>
          <option value="Ciências Biológicas e Saúde">Ciências Biológicas e Saúde</option>
          <option value="Ciências Exatas">Ciências Exatas</option>
          <option value="Ciências Humanas">Ciências Humanas</option>
          <option value="Educação">Educação</option>
          <option value="Engenharia">Engenharia</option>
          <option value="Finanças">Finanças</option>
          <option value="Jurídico">Jurídico</option>
          <option value="Marketing e Comunicação">Marketing e Comunicação</option>
          <option value="Tecnologia da Informação">Tecnologia da Informação</option>
        </select>
      </div>

      <!-- affiliationType -->
      <div class="form-group">
        <label for="affiliationType">Cargo</label>
        <select id="affiliationType" formControlName="affiliationType">
          <option value="" disabled selected>Selecione seu cargo</option>
          <option value="Docente">Docente</option>
          <option value="Técnico Administrativo">Técnico</option>
          <option value="Aluno de Pós-Graduação">Aluno de Pós-Graduação</option>
        </select>
      </div>
      <!-- Adicione mais campos conforme necessário -->
      <button type="submit" class="btn-finalizar">Finalizar Cadastro</button>
    </form>
  </div>
</div>