<div class="mentor-register-container">
  <h2>Finalize seu cadastro</h2>

  <div class="mentor-form-container">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Resumo profissional -->
      <div class="form-group">
        <label for="professionalSummary">Resumo profissional</label>
        <textarea
          id="professionalSummary"
          formControlName="professionalSummary"
          placeholder="Resumo profissional"
          rows="3"
          class="auto-grow"
        ></textarea>
        <div *ngIf="signupForm.get('professionalSummary')?.invalid && signupForm.get('professionalSummary')?.touched" class="error">
          <div *ngIf="signupForm.get('professionalSummary')?.errors?.['required']">O resumo profissional é obrigatório.</div>
          <div *ngIf="signupForm.get('professionalSummary')?.errors?.['minlength']">O resumo deve ter no mínimo 3 caracteres.</div>
          <div *ngIf="signupForm.get('professionalSummary')?.errors?.['maxlength']">O resumo deve ter no máximo 1000 caracteres.</div>
        </div>
      </div>

      <!-- Curso -->
      <div class="form-group">
        <label for="course">Curso</label>
        <select id="course" formControlName="course">
          <option value="" disabled selected>Selecione seu curso</option>
          <option value="ADMINISTRACAO">Bacharelado em Administração</option>
          <option value="ARQUITETURA_E_URBANISMO">Bacharelado em Arquitetura e Urbanismo</option>
          <option value="CONTABILIDADE">Bacharelado em Ciências Contábeis</option>
          <option value="CIENCIA_DA_COMPUTACAO">Bacharelado em Ciência da Computação</option>
          <option value="DIREITO">Bacharelado em Direito</option>
          <option value="EDUCACAO_FISICA">Licenciatura em Educação Física</option>
          <option value="ENFERMAGEM">Bacharelado em Enfermagem</option>
          <option value="ENGENHARIA_CIVIL">Bacharelado em Engenharia Civil</option>
          <option value="FISIOTERAPIA">Bacharelado em Fisioterapia</option>
          <option value="LETRAS">Bacharelado em Letras</option>
          <option value="MEDICINA">Bacharelado em Medicina</option>
          <option value="VETERINARIA">Bacharelado em Medicina Veterinária</option>
          <option value="NUTRICIONISMO">Bacharelado em Nutrição</option>
          <option value="ODONTOLOGIA">Bacharelado em Odontologia</option>
          <option value="PEDAGOGIA">Licenciatura em Pedagogia</option>
          <option value="PSICOLOGIA">Bacharelado em Psicologia</option>
          <option value="ZOOTECNIA">Bacharelado em Zootecnia</option>
        </select>
        <div *ngIf="signupForm.get('course')?.invalid && signupForm.get('course')?.touched" class="error">
        O curso é obrigatório.
        </div>
      </div>

      <!-- Especializações -->
      <div class ="form-group">
        <label for="specializations">Especializações</label>
        <input
          id="specializations"
          type="text"
          formControlName="specializations"
          placeholder="Especializações (separe por vírgula)"
        />
        <div *ngIf="signupForm.get('specializations')?.invalid && signupForm.get('specializations')?.touched" class="error">
          As especializações são obrigatórias.
        </div>

      </div>

      <!-- Áreas de Interesse -->
      <div class="form-group">
        <label for="interestArea">Lista de areas de interesse</label>
        <select id="interestArea" formControlName="interestArea">
          <option value="" disabled selected>Selecione sua Lista de areas de interesse</option>
          <option value="TECNOLOGIA_DA_INFORMACAO">Tecnologia da Informação</option>
          <option value="DESENVOLVIMENTO_DE_SOFTWARE">Desenvolvimento de Software</option>
          <option value="CIENCIA_DE_DADOS_E_IA">Ciência de Dados e Inteligência Artificial</option>
          <option value="CIBERSEGURANCA">Cibersegurança</option>
          <option value="UX_UI_DESIGN">UX/UI Design</option>
          <option value="ENGENHARIA_GERAL">Engenharia</option>
          <option value="ENGENHARIA_CIVIL">Engenharia Civil</option>
          <option value="ENGENHARIA_DE_PRODUCAO">Engenharia de Produção</option>
          <option value="MATEMATICA_E_ESTATISTICA">Matemática e Estatística</option>
          <option value="FISICA">Física</option>
          <option value="ADMINISTRACAO_E_GESTAO">Administração e Gestão</option>
          <option value="EMPREENDEDORISMO_E_INOVACAO">Empreendedorismo e Inovação</option>
          <option value="FINANCAS_E_CONTABILIDADE">Finanças e Contabilidade</option>
          <option value="RECURSOS_HUMANOS">Recursos Humanos</option>
          <option value="LOGISTICA_E_CADEIA_DE_SUPRIMENTOS">Logística e Cadeia de Suprimentos</option>
          <option value="MARKETING_E_COMUNICACAO">Marketing e Comunicação</option>
          <option value="MARKETING_DIGITAL">Marketing Digital</option>
          <option value="JORNALISMO">Jornalismo</option>
          <option value="PUBLICIDADE_E_PROPAGANDA">Publicidade e Propaganda</option>
          <option value="COMUNICACAO_INSTITUCIONAL">Comunicação Institucional</option>
          <option value="CIENCIAS_BIOLOGICAS_E_SAUDE">Ciências Biológicas e Saúde</option>
          <option value="MEDICINA">Medicina</option>
          <option value="PSICOLOGIA">Psicologia</option>
          <option value="NUTRICAO">Nutrição</option>
          <option value="BIOTECNOLOGIA">Biotecnologia</option>
          <option value="EDUCACAO">Educação</option>
          <option value="CIENCIAS_HUMANAS_E_SOCIAIS">Ciências Humanas e Sociais</option>
          <option value="LETRAS">Letras</option>
          <option value="HISTORIA">História</option>
          <option value="GEOGRAFIA">Geografia</option>
          <option value="SOCIOLOGIA">Sociologia</option>
          <option value="JURIDICO">Jurídico</option>
          <option value="DIREITO_DIGITAL">Direito Digital</option>
          <option value="MEIO_AMBIENTE_E_SUSTENTABILIDADE">Meio Ambiente e Sustentabilidade</option>
        </select>
          <div *ngIf="signupForm.get('interestList')?.invalid && signupForm.get('interestList')?.touched" class="error">
            A área de interesse é obrigatória.
          </div>
      </div>

      <!-- affiliationType -->
      <div class="form-group">
        <label for="affiliationType">Cargo</label>
        <select id="affiliationType" formControlName="affiliationType">
          <option value="" disabled selected>Selecione seu cargo</option>
          <option value="DOCENTE">Docente</option>
          <option value="TECNICO_ADMINISTRATIVO">Técnico</option>
          <option value="ALUNO_POS_GRADUACAO">Aluno de Pós-Graduação</option>
        </select>
          <div *ngIf="signupForm.get('affiliationType')?.invalid && signupForm.get('affiliationType')?.touched" class="error">
            O cargo é obrigatório.
          </div>
      </div>
      <!-- Adicione mais campos conforme necessário -->
      <button type="submit" class="btn-finalizar">Finalizar Cadastro</button>
    </form>
  </div>
</div>
