<div class="mentor-register-container">
  <h2>Finalize seu cadastro</h2>

  <div class="mentor-form-container">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Resumo profissional -->
      <div class="form-group">
        <label for="professionalSummary">Resumo profissional</label>
        <textarea
          id="professionalSummary"
          formControlName="professionalSummary"
          placeholder="Resumo profissional"
          rows="3"
          class="auto-grow"
        ></textarea>
        <div *ngIf="signupForm.get('professionalSummary')?.invalid && signupForm.get('professionalSummary')?.touched" class="error">
          <div *ngIf="signupForm.get('professionalSummary')?.errors?.['required']">O resumo profissional é obrigatório.</div>
          <div *ngIf="signupForm.get('professionalSummary')?.errors?.['minlength']">O resumo deve ter no mínimo 3 caracteres.</div>
          <div *ngIf="signupForm.get('professionalSummary')?.errors?.['maxlength']">O resumo deve ter no máximo 1000 caracteres.</div>
        </div>
      </div>

      <!-- Curso -->
      <div class="form-group">
        <label for="course">Curso</label>
        <select id="course" formControlName="course">
          <option value="" disabled selected>Selecione seu curso</option>
          <option value="Administração">Bacharelado em Administração</option>
          <option value="Arquitetura e Urbanismo">Bacharelado em Arquitetura e Urbanismo</option>
          <option value="Ciências Contábeis">Bacharelado em Ciências Contábeis</option>
          <option value="Ciência da Computação">Bacharelado em Ciência da Computação</option>
          <option value="Educação Física">Licenciatura em Educação Física</option>
          <option value="Enfermagem">Bacharelado em Enfermagem</option>
          <option value="Engenharia Civil">Bacharelado em Engenharia Civil</option>
          <option value="Fisioterapia">Bacharelado em Fisioterapia</option>
          <option value="Letras">Bacharelado em Letras</option>
          <option value="Medicina">Bacharelado em Medicina</option>
          <option value="Medicina Veterinária">Bacharelado em Medicina Veterinária</option>
          <option value="Nutrição">Bacharelado em Nutrição</option>
          <option value="Odontologia">Bacharelado em Odontologia</option>
          <option value="Pedagogia">Licenciatura em Pedagogia</option>
          <option value="Psicologia">Bacharelado em Psicologia</option>
          <option value="Zootecnia">Bacharelado em Zootecnia</option>
        </select>
        <div *ngIf="signupForm.get('course')?.invalid && signupForm.get('course')?.touched" class="error">
        O curso é obrigatório.
        </div>
      </div>

      <!-- Especializações -->
      <div class ="form-group">
        <label for="specializations">Especializações</label>
        <input
          id="specializations"
          type="text"
          formControlName="specializations"
          placeholder="Especializações"
        />
        <div *ngIf="signupForm.get('specializations')?.invalid && signupForm.get('specializations')?.touched" class="error">
          As especializações são obrigatórias.
        </div>
      </div>

      <!-- Áreas de Interesse -->
      <div class="form-group">
        <label for="interestList">Lista de areas de interesse</label>
        <select id="interestList" formControlName="interestList">
          <option value="" disabled selected>Selecione sua Lista de areas de interesse</option>
          <option value="Administração e Gestão">Administração e Gestão</option>
          <option value="Ciências Biológicas e Saúde">Ciências Biológicas e Saúde</option>
          <option value="Ciências Exatas">Ciências Exatas</option>
          <option value="Ciências Humanas">Ciências Humanas</option>
          <option value="Educação">Educação</option>
          <option value="Engenharia">Engenharia</option>
          <option value="Finanças">Finanças</option>
          <option value="Jurídico">Jurídico</option>
          <option value="Marketing e Comunicação">Marketing e Comunicação</option>
          <option value="Tecnologia da Informação">Tecnologia da Informação</option>
        </select>
          <div *ngIf="signupForm.get('interestList')?.invalid && signupForm.get('interestList')?.touched" class="error">
            A área de interesse é obrigatória.
          </div>
      </div>

      <!-- affiliationType -->
      <div class="form-group">
        <label for="affiliationType">Cargo</label>
        <select id="affiliationType" formControlName="affiliationType">
          <option value="" disabled selected>Selecione seu cargo</option>
          <option value="Docente">Docente</option>
          <option value="Técnico Administrativo">Técnico</option>
          <option value="Aluno de Pós-Graduação">Aluno de Pós-Graduação</option>
        </select>
          <div *ngIf="signupForm.get('affiliationType')?.invalid && signupForm.get('affiliationType')?.touched" class="error">
            O cargo é obrigatório.
          </div>
      </div>
      <!-- Adicione mais campos conforme necessário -->
      <button type="submit" class="btn-finalizar">Finalizar Cadastro</button>
    </form>
  </div>
</div>
