<div class="delete-modal">
  <div class="delete-modal__content">
    <h2 class="delete-modal__title">Tem certeza que deseja continuar?</h2>
    <p class="delete-modal__description">Essa ação é permanente e não poderá ser desfeita.</p>
    <div class="delete-modal__actions">
      <button 
        class="delete-modal__button delete-modal__button--cancel" 
        (click)="onCancel()"
        type="button">
        Cancelar
      </button>
      <button 
        class="delete-modal__button delete-modal__button--confirm" 
        (click)="onConfirm()"
        type="button">
        Confirmar
      </button>
    </div>
  </div>
</div>